body{
	background-color: #131A22;
	color: ghostwhite;
	text-align: center;
}

nav{
	font-size: 18px;
	box-shadow: 5px 4px gold;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #146EB4 !important; color: GhostWhite !important;}

.nav-link{
	margin: 10px;
	font-weight: 12px;
}

.nav-link:hover{
	color: ghostwhite !important;
	text-decoration: ghostwhite underline!important;
}

.tela-atual{
	color: ghostwhite !important;
	font-weight: bold;
}

p{
	text-align: start;
	padding-left: 40px;
	padding-right: 40px;
}

.texto-comum {
	border: 2px solid black;
}

.texto-comum > h1{
	margin-bottom: 20px;
}

#img{
	background-color: rgb(0, 56, 83);
}

#div-grid2{
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	margin-top: 2%;
}

#div-grid3{
	margin-top: 2%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

#div-grid3 > a{
	margin-top: 2%;
	margin-bottom: 5%;
}

.serviço-atual{
	background-color: #146EB4 !important; 
	color: GhostWhite !important;
}

.footer{
	background-color: orangered;
}

ul {
  align-content: center;
  list-style: inside;
}