body{
	background-color: #131A22;
	color: ghostwhite;
	text-align: center;
}

nav{
	font-size: 18px;
	box-shadow: 5px 4px gold;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #146EB4 !important; color: GhostWhite !important;}

.nav-link{
	margin: 10px;
	font-weight: 12px;
}

.nav-link:hover{
	color: ghostwhite !important;
	text-decoration: ghostwhite underline!important;
}

.carousel-item {
	height: 300px;
  }

.bd-example{
	border: 1px solid gold;
}

.carousel-caption{
	font-weight: bold;
	font-size: 25px;
	color: darkmagenta;
	text-align: center !important;
}

.d-block {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 300px;
}

p{
	text-align: start;
	padding-left: 40px;
	padding-right: 40px;
}

#div-grid1{
	display: grid;
	grid-template-columns: 50% 50%;
}

#div-grid3{
	margin-top: 2%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

#div-grid3 > a{
	margin-top: 2%;
	margin-bottom: 5%;
}

.footer{
	background-color: orangered;
}

.formGrid{
	padding-left: 40px;
}

.form-row{
	margin-bottom: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.notes{
	border-left: 2px solid black;
}

h1{
	margin-bottom: 25px;
}

.formGrid > button{
	margin-bottom: 1% !important;
}